.jobs {
  background-color: var(--gray-600);
  padding-block: 5.5rem 7.5rem;

  .jobs__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    h1 {
      font: var(--title-md);
    }

    h2 {
      font: var(--subtitle);
      color: var(--red);
    }
  }

  .jobs__grid {
    display: grid;
    margin-inline: 15rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;

    .card {
      border: solid 1px var(--gray-200);
      border-radius: 0.875rem;
      padding: 1.25rem;

      img {
        margin-bottom: 1.25rem;
      }
    }
  }
}
